<h3 class="page-title">New team</h3>
<div class="row">
    <div class="col-md-6">
        <!-- INPUTS -->
        <div class="panel">
            <div class="panel-heading">
                <a href="/admin/event/tournament/<%= event_id %>" class="btn btn-primary">View tournament</a>
            </div>
            <div class="panel-body">
                <div>
                    <h3 class="msg_success"></h3>
                </div>
                <form action="/admin/create_event" method="post" id="add_event" enctype="multipart/form-data">
                    <h4>Team</h4> 
                    <div class="select_team">
                        <select class="form-control">
                            <option value="1">team 1</option>
                            <option value="2">team 2</option>
                            <option value="3">team 3</option>
                            <option value="4">team 4</option>
                        </select>
                    </div>
                    <h4>City</h4> 
                    <div class="select_city">
                        <select class="form-control" name="city">
                            <%  arr_city.forEach(function (el, index) { %>
                            <option value="<%= el.value %>" ><%= el.name %></option>
                            <%  }); %>
                            <p style="color:red" class="err_city msg_error p-t-5"></p>    
                        </select>
                        <span>chưa có ai</span>
                    </div>
                    <h4>User</h4> 
                    <div class="select_user_team">
                        <select class="form-control">

                        </select>
                    </div>
                    <button type="button" class="btn btn-success user_add_team">Add</button>
                    <p style="color:red" class="err_content msg_error p-t-5"></p>  
                    <div class="button-submit">
                        <input type="submit" class="btn btn-primary login-btn" value="submit">
                    </div>
                </form>

            </div>

        </div>
        <!-- END INPUTS -->


    </div>
</div>
<script src="/js/vendor/jquery.min.js"></script>
<script type="text/javascript">

    /*-----------------------------------/
     /*	CALL AJAX
     /*----------------------------------*/
    $("#add_event").submit(function (e) {
        $('.msg_error').empty();
        e.preventDefault();
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: '/admin/create_event',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                console.log(response);
                if (response.status == 400) {
                    if (response.data.title) {
                        $('.err_title').html(response.data.title[0].message);
                    }
                    if (response.data.e_ower_id) {
                        $('.err_ower_id').html(response.data.e_ower_id[0].message);
                    }
                    if (response.data.content) {
                        $('.err_content').html(response.data.content[0].message);
                    }
                    if (response.data.start_date) {
                        $('.err_start_date').html(response.data.start_date[0].message);
                    }
                    if (response.data.end_date) {
                        $('.err_end_date').html(response.data.end_date[0].message);
                    }
                    if (response.data.img) {
                        $('.err_img').html('入力して下さい。');
                    }

                } else {
                    $.alert('upload successfully');
                    $dropimg.css('background-image', '');
                    $('#add_event')[0].reset();
                }
            },
            error: function (error) {
                console.log(error);
            },
        });
        return false;
    });
    /**
     * UPLOAD IMAGE
     */
    var $dropzone = $('.image_picker'),
            $droptarget = $('.drop_target'),
            $dropinput = $('#inputFile'),
            $dropimg = $('.image_preview'),
            $remover = $('[data-action="remove_current_image"]');
    // preview image 
    function previewFile() {
        $('.image_picker .msg_error').empty();
        var file = $dropinput.get(0).files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            $dropimg.css('background-image', 'url(' + reader.result + ')');
        }

        if (file) {
            $droptarget.addClass('dropped');
            $remover.removeClass('disabled');
            reader.readAsDataURL(file);
        } else {
            $dropimg.css('background-image', 'url(' + '' + ')');
        }
    }
    // choose image
    $dropinput.change(function (e) {
        previewFile();
    });
    // remove image
    $remover.on('click', function () {
        $dropinput.val('');
        $dropimg.css('background-image', '');
        $droptarget.removeClass('dropped');
        $remover.addClass('disabled');
    });


    $(document).ready(function () {
        function get_user() {
            var team = $('.select_team select').val();
            var city = $('.select_city select').val();
            var formData = new FormData($(this)[0]);
            formData.append('team', team);
            formData.append('city', city);
            $.ajax({
                url: '/admin/ajax_get_user_by_city',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (response) {
                    console.log(response);
                    var data = response.data;
                    if (response.status == 400) {

                    } else {
                        var option = "<select class='form-control'>"
                        $.each(data, function (index, el) {
                            option += "<option>"
                            option += el.username
                            option += "</option>"
                            console.log(el);
                        });
                        option += "</select>"
                        $('.select_user_team').html(option);
                    }
                },
                error: function (error) {
                    console.log(error);
                },
            });
        }
        // choose city, team
        $('.select_city select, .select_team select').change(function (e) {
            get_user();
        });
        get_user();
    });

</script>


